<div class="min-vh-100" style="background-color: #000;">
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">
        <img src="../assets/red_icon_V4.png" alt="logo" width="70" style="margin-left: 50px; margin-right: 150px"
          class="d-inline-block align-text-top">
        Meus Pedidos
      </a>
    </div>
  </nav>
  <div class="container py-5">
    <div class="row">
      <div class="col-8">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th scope="col">N° Pedido</th>
              <th scope="col">Nome Cliente</th>
              <th scope="col">Itens</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of itensCarrinho; let i=index;">
              <th scope="row">{{i + 1}}</th>
              <td>{{item?.dadosCliente?.name}}</td>
              <td><a class="text-white" [routerLink]="['/detalhe']" [state]="{pedido: item}">{{ item?.itensCarrinho[0]?.name}}..</a></td>
              <td>Pendente</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>